.header {
    height: 50px;
    background-color: rgb(2, 0, 73);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-actions{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.toggle-sidebar-btn {
    background: none;
    border: none;
    color: rgb(210, 204, 223);
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
    transition: color 0.3s ease;
    size: 50px;

    &:hover {
        color: white;
    }
    @media (max-width: 768px) {
        font-size: 15px;
    }
}

.logo {
    width: 40px;
    height: 40px;

    @media (max-width:768px) {
        width: 30px;
        height: 30px;
    }
}

.header-title {
    font-size: 20px;
    font-weight: bold;
}
.login-btn {
    border: 2px solid rgb(210, 204, 223);
    background-color: transparent;
    color: rgb(210, 204, 223);
    border-radius: 15px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
        background-color: rgb(210, 204, 223);
        color: rgb(21, 0, 155);
        cursor: pointer;
    }

    @media (max-width: 768px) {
        width: 50px;         
        height: 35px; 
        font-size: 12px; 
        border-radius: 10px;
    }
}